.page-wrapper {
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.title {
  /* text-align: center; */
  margin-bottom: 40px;
  font-weight: 600;
  color: #1976d2;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 30px;
  margin-bottom: 25px;
}

.field-row{
    margin-bottom: 15px;
}

.field-label {
  font-weight: 600;
  color: #555;
}

.field-value {
  margin-left: 6px;
}

.doc-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .info-grid { grid-template-columns: 1fr; }
  .action-buttons { flex-direction: column; gap: 10px; }
}
