<mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="margin-top: 20px;"></mat-progress-bar>

<div class="page-wrapper" *ngIf="dossier && ! isLoading">

  <h2 class="title">
    Dossier Médical — {{ dossier.patient.prenom }} {{ dossier.patient.nom }}
  </h2>

  <!-- Informations principales -->
  <div class="info-grid">
    <div class="field-row">
      <span class="field-label">NISS :</span>
      <span class="field-value">{{ dossier.patient.niss }}</span>
    </div>

    <div class="field-row">
      <span class="field-label">Groupe sanguin :</span>
      <span class="field-value">{{ dossier.groupeSanguin }}</span>
    </div>
  </div>

  <!-- Allergies -->
  <div class="section">
    <div class="section-title">Allergies</div>
    <div class="info-box list-tags">
      <span *ngIf="!dossier.allergies.length">Aucune</span>
      <span *ngFor="let a of dossier.allergies" class="tag">{{ a }}</span>
    </div>
  </div>

  <!-- Vaccinations -->
  <div class="section">
    <div class="section-title">Vaccinations</div>
    <div class="info-box list-tags">
      <span *ngIf="!dossier.vaccinations.length">Aucune</span>
      <span *ngFor="let v of dossier.vaccinations" class="tag">{{ v }}</span>
    </div>
  </div>

  <!-- Antécédents -->
  <div class="section">
    <div class="section-title">Antécédents Médicaux</div>
    <div class="info-box list-tags">
      <span *ngIf="!dossier.antecedentsMedicaux.length">Aucun</span>
      <span *ngFor="let ant of dossier.antecedentsMedicaux" class="tag">{{ ant }}</span>
    </div>
  </div>

  <!-- Remarques -->
  <div class="section">
    <div class="section-title">Remarques</div>
    <div class="info-box list-tags">
      <span *ngIf="!dossier.remarques.length">Aucune</span>
      <span *ngFor="let r of dossier.remarques" class="tag">{{ r }}</span>
    </div>
  </div>

  <div class="action-buttons">
    <button mat-stroked-button color="primary" routerLink="/dossiers-medicaux">Retour</button>
    <button mat-raised-button color="accent" [routerLink]="['/dossier-medical/edit', dossier.id]">
      Modifier le dossier
    </button>
  </div>
</div>
