<div class="register-container">

  <!-- Titre principal de l’application -->
  <div class="app-title"> 
    <mat-icon>admin_panel_settings</mat-icon> 
    MediConsult
  </div>

  <mat-card class="register-card">
    <h2 class="form-title">
      {{ isEditMode ? 'Modifier un administrateur' : 'Inscription Administrateur' }}
    </h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- Ligne 1 -->
      <div class="row">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" />
        </mat-form-field>
      </div>

      <!-- Ligne 2 -->
      <div class="row">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="telephone" maxlength="10" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="adresse" />
        </mat-form-field>
      </div>

      <!-- Ligne 3 -->
      <div class="row" *ngIf="!isEditMode">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="motDePasse"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Bouton -->
      <div class="btn-container">
        <button mat-raised-button color="primary" type="submit" class="btn-register">
          {{ isEditMode ? 'Enregistrer les modifications' : "Créer un administrateur" }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
