<div class="schedule-container">
  <h2 class="page-title">
    {{ isPatient ?  `Planning du médecin ${ medecin.prenom } ${ medecin.nom }` : 'Plannifier mes rendez-vous de consultation' }}
   
  </h2>
  <h3 class="page-instruction">
    {{ isPatient ?  '(Veuillez selectionner un créneau disponible pour demander un rendez-vous de consultation)' : 
    '(Veuillez selectionner un créneau disponible pour plannifier une consultation)' }}
  </h3>

  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="margin-top: 20px;"></mat-progress-bar>

  <mat-card class="calendar-card">
    <full-calendar *ngIf="calendarReady" [options]="calendarOptions"></full-calendar>
  </mat-card>

<div class="calendar-legend">
  <span class="legend-item" style="background-color:#4CAF50"></span> Disponible
  <span class="legend-item" style="background-color:#F44336"></span> Indisponible
</div>
</div>
