<mat-card class="max-w-md mx-auto mt-10 p-6 rounded-2xl shadow-md">

  <h2 class="text-center text-xl font-semibold mb-4">
    {{ step === 1 ? 'Réinitialiser votre mot de passe' :
       step === 2 ? 'Vérifiez votre code' : 'Mot de passe changé !' }}
  </h2>

  <form *ngIf="step === 1" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <mat-form-field appearance="outline" class="w-full mb-3">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <button mat-raised-button color="primary" class="w-full" [disabled]="isLoading">
      {{ isLoading ? 'Envoi...' : 'Envoyer le code' }}
    </button>
  </form>

  <form *ngIf="step === 2" [formGroup]="codeForm" (ngSubmit)="verifyCode()">
    <mat-form-field appearance="outline" class="w-full mb-3">
      <mat-label>Code de vérification</mat-label>
      <input matInput formControlName="code" maxlength="6">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-3">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="newPassword">
    </mat-form-field>

    <button mat-raised-button color="primary" class="w-full" [disabled]="isLoading">
      {{ isLoading ? 'Vérification...' : 'Changer le mot de passe' }}
    </button>
  </form>

  <div *ngIf="step === 3" class="text-center">
    <p>✅ Votre mot de passe a été mis à jour. Vous pouvez maintenant vous connecter.</p>
  </div>
</mat-card>
