<div class="page-container">
    <h2>Gestion des Consentements</h2>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <mat-card class="assign-card">
        <h3>Autoriser un médecin à accéder à votre dossier</h3>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Numéro INAMI</mat-label>
            <input matInput [formControl]="searchControl" placeholder="Ex: 12345678901" />
        </mat-form-field>

        <div *ngIf="searchedMedecin" class="suggestion-item" (click)="assignMedecin()">
        {{ searchedMedecin.prenom }} {{ searchedMedecin.nom }} ({{ searchedMedecin.numINAMI }})
        </div>
    </mat-card>

    <mat-card class="table-card">
        <h3>Médecins autorisés</h3>

        <mat-form-field appearance="outline" class="search-field">
        <mat-label>Rechercher par nom, INAMI ou spécialité</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher..." />
        <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <table mat-table [dataSource]="assignedMedecins" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let a; let i = index">
                    {{ i + 1 + (paginator.pageIndex * paginator.pageSize) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let m">{{ m.prenom }} {{ m.nom }}</td>
            </ng-container>

            <ng-container matColumnDef="inami">
                <th mat-header-cell *matHeaderCellDef>INAMI</th>
                <td mat-cell *matCellDef="let m">{{ m.numINAMI }}</td>
            </ng-container>

            <ng-container matColumnDef="specialite">
                <th mat-header-cell *matHeaderCellDef>Spécialité</th>
                <td mat-cell *matCellDef="let m">{{ m.specialite }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let m">
                <button mat-icon-button color="warn" (click)="removeMedecin(m)">
                    <mat-icon>delete</mat-icon>
                </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </mat-card>

</div>
