.page-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-card, .assign-card {
  padding: 20px;
  width: 100%;
}

.search-field {
  width: 100%;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

mat-paginator {
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.suggestion-item {
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #e0e0e0;
  padding: 1%;
}
.suggestion-item:hover {
  background-color: #d9defa;
}

/* Responsive */
@media (max-width: 768px) {
  table, .mat-form-field {
    width: 100%;
    display: block;
  }
}
