<mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="margin-top: 10px;"></mat-progress-bar>

<div class="page-wrapper" *ngIf="ordonnance">
  <h2 class="title">
    Ordonnance —
    {{ currentUser.role === 'MEDECIN'
      ? ordonnance.patient.prenom + ' ' + ordonnance.patient.nom + ' ' + ordonnance.patient.niss
      : ordonnance.medecin.prenom + ' ' + ordonnance.medecin.nom +' ' + ordonnance.medecin.numINAMI }}
  </h2>

  <div class="info-grid">
    <div class="field-row">
      <span class="field-label">Date :</span>
      <span class="field-value">{{ ordonnance.date | date:'shortDate' }}</span>
    </div>
  </div>

  <div class="compte-rendu-block">
    <h3>Contenu</h3>
    <div>{{ ordonnance.contenu || 'Aucun contenu disponible.' }}</div>
  </div>

  <div class="docs-section" *ngIf="ordonnance.documents.length">
    <h3>Documents joints</h3>
    <div *ngFor="let doc of ordonnance.documents" class="doc-item">
      <a href="javascript:void(0)" (click)="viewDocument(doc)">{{ doc.nom }}</a>
    </div>
  </div>

  <div class="action-buttons">
    <button mat-stroked-button color="primary" (click)="retour()">Retour</button>

    <button mat-flat-button color="accent"
            *ngIf="currentUser.role === 'MEDECIN'"
            (click)="modifier()">
      Modifier l'ordonnance
    </button>
  </div>
</div>
