.page-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.assign-card,
.table-card {
  padding: 20px;
}

.full-width {
  width: 100%;
}

h2 {
  color: #1976d2;
  margin-bottom: 1.5rem;
  text-align: center;
}

.patient-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e3e7ff;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
.patient-info:hover {
  background: #d6dcff;
}

.user-link {
  color: #1976d2;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.user-link:hover {
  text-decoration: none;
}

.filter-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.search-field {
  width: 40%;
}

.status-toggle {
  display: flex;
  gap: 10px;
}

/* Pour que les boutons prennent la même taille */
.status-toggle .mat-button-toggle {
  flex: 1;
  text-align: center;
}

.accepted {
  color: green;
  font-weight: bold;
}

.refused {
  color: red;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

.table-container {
  margin-top: 1rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

th {
  background-color: #469ef7 !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 14px;
  text-transform: uppercase;
}

td {
  vertical-align: middle;
}


@media (max-width: 900px) {
  .toolbar {
    flex-direction: column;
    gap: 10px;
  }

  .filter-row {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .search-field {
    width: 100%;
  }

  .status-toggle {
    flex-wrap: wrap;       /* permet le passage en ligne suivante */
    width: 100%;
    justify-content: center;
  }

  .status-toggle .mat-button-toggle {
    flex: 1 1 45%;         /* 2 boutons par ligne */
    min-width: 140px;      /* empêche les boutons trop petits */
  }
}

/* --- TRES PETIT ÉCRAN (<480px) --- */
@media (max-width: 480px) {
  .status-toggle .mat-button-toggle {
    flex: 1 1 100%;        /* empile en colonne */
  }
}
