.upload-zone {
  margin-bottom: 20px;
}

.preview-container {
  margin-top: 10px;
}

.preview-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.thumb {
  height: 60px;
  border-radius: 4px;
}

.doc-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #ccc;
}

.doc-item a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa-file-pdf {
  font-size: 30px;
  color: red;
}
