<mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="margin-top: 20px;"></mat-progress-bar>

<div class="page-wrapper" *ngIf="consultation">

  <h2 class="title">
    Consultation —
    {{ currentUser.role === 'MEDECIN'
      ? consultation.patient.prenom + ' ' + consultation.patient.nom + ' ' + consultation.patient.niss
      : consultation.medecin.prenom + ' ' + consultation.medecin.nom +' ' + consultation.medecin.numINAMI }}
  </h2>

  <!-- Informations de base -->
  <div class="info-grid">
<!-- 
    <div class="field-row" *ngIf="currentUser.role === 'MEDECIN'">
      <span class="field-label">NISS :</span>
      <span class="field-value">{{ consultation.patient.niss }}</span>
    </div>

    <div class="field-row" *ngIf="currentUser.role === 'PATIENT'">
      <span class="field-label">INAMI :</span>
      <span class="field-value">{{ consultation.medecin.numINAMI }}</span>
    </div> -->

    <div class="field-row">
      <span class="field-label">Statut :</span>
      <span class="field-value">{{ consultation.statut }}</span>
    </div>

    <div class="field-row">
      <span class="field-label">Début :</span>
      <span class="field-value">{{ consultation.debut | date:'short' }}</span>
    </div>

    <div class="field-row">
      <span class="field-label">Fin :</span>
      <span class="field-value">{{ consultation.fin | date:'short' }}</span>
    </div>

    <div class="field-row" *ngIf="currentUser.role === 'PATIENT'">
      <span class="field-label">Spécialité :</span>
      <span class="field-value">{{ consultation.medecin.specialite }}</span>
    </div>

    <div class="field-row" *ngIf="consultation.statut === 'CONFIRMER'">
      <span class="field-label">Lien réunion :</span>
      <span class="field-value">
        <a *ngIf="consultation.lienReunion"
          [href]="consultation.lienReunion"
          target="_blank">
          Rejoindre la visioconférence
        </a>
        <span *ngIf="!consultation.lienReunion">Aucun</span>
      </span>
    </div>
  </div>


  <!-- Compte rendu sur toute la largeur -->
  <div class="compte-rendu-block">
    <h3>Compte-rendu</h3>
    <div class="compte-rendu-text">
      {{ consultation.compteRendu || 'Aucun compte-rendu disponible.' }}
    </div>
  </div>

  <!-- Documents -->
  <div class="docs-section" *ngIf="consultation.documents.length">
    <h3>Documents joints</h3>

    <div class="doc-item" *ngFor="let doc of consultation.documents">
      <a href="javascript:void(0)" (click)="viewDocument(doc)" class="doc-link">{{ doc.nom }}</a>
    </div>
  </div>

  <!-- Boutons -->
  <div class="action-buttons">
    <button mat-stroked-button color="primary" (click)="retour()">Retour</button>

    <button mat-flat-button color="accent"
            *ngIf="currentUser.role === 'MEDECIN'"
            (click)="modifier()">
      Modifier la consultation
    </button>
  </div>

</div>
